@import url(https://fonts.googleapis.com/css?family=Assistant:400,600,800);
@import url(https://fonts.googleapis.com/css?family=Rakkas);


/*
 *  reset stuff
 */

* {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Rakkas', serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
 *  global
 */

a {
  text-decoration: none;
  color: black;
}

strong {
  font-weight: 600;
}

body {
  background-color: #999;
}

.cragle {
  z-index: -1;
  position: absolute;
  background-color: #eee;
  top: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 400px;
}

header {
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 46px;
  background-color: #ccc;
  opacity: .98;
  color: white;
}

header .container {
  height: 100%;
}

header a {
  color: black;
}

nav {
  display: flex;
  height: 100%;
}

nav a {
  height: 100%;
  padding-top: 10px;
  flex: auto;
  text-align: center;
  display: block;
  font-size: 17px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-family: 'Rakkas', serif;
}

nav a:hover {
  background-color: #666;
  color: white;
}

.cannon {
  flex: auto;
  font-family: 'Rakkas', serif;
  font-size: 37px;
  text-align: center;
  height: 51px;
  width: 40px;
  /* background-color: rgb(236, 236, 0); */
  background-color: #999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: black;
  margin: 0 5px;
}

main {
  margin-top: 46px;
  padding: 10px 25px;
  background-color: #eee;
}

h2 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 5px;
}

h3 {
  font-size: 25px;
}

ul {
  margin-left: 20px;
}

/*
 *  form styles
 */

.input-form {
  margin-bottom: 10px;
}

.input-form label {
  display: block;
  /* margin-bottom: -2px; */
  text-transform: uppercase;
  font-size: 15px;
}

.input-form input {
  font-family: 'Rakkas', serif;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 26px;
  width: 100%;
  padding-left: 5px;
}

.submit-button {
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #3f9fff;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

/*
 *  home screen buttons
 */

.add-serving-button {
  display: block;
  width: 100%;
  text-align: center;
  /* border: 1px solid #4e4e4e; */
  border: none;
  margin-bottom: 15px;
  padding: 5px 10px;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
}

